<h1>Users</h1>

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table td, table th {
        padding: 5px;
    }

    table td {
        font-weight: bold;
    }

    .uid {
        width: 30px;
    }

    .username {
        width: 100px;
    }
</style>

{{if .Data.ErrorMessage}}
<div>Error happened: {{.Data.ErrorMessage}}</div> 
{{end}}

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {{range .Data.Users}}
        <tr>
            <td class="uid">{{.Id}}</td>
            <td class="username">{{.Username}} </td>
            <td>{{.FormattedTime}}</td>
            <td><a href="/users/edit?user_id={{.Id}}">edit</a></td>
            <td><a href="/users/delete?user_id={{.Id}}">delete</a></td>
        </tr>
        {{end}}
    </tbody>
</table>